/* Google Fonts Import */

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@1&display=swap'); */

/* Custom Colors */

:root{
    --shelf-orange: #ffaf37;
    --navbar-brown: #5b4242;
    --login-brown: #C4B1AE;
    --submit-olive: #AEA893;
    --form-bg-brown: #CAB7A2;
    --background-gray: #d9d9d9;
    --table-gray: #b9b9b9;
}
 
body {
    background-color: var(--background-gray);
}

main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }


.navbar-orange {
    color: var(--shelf-orange)
}


.text-white {
    color: white;
    background-color: none;
}


/* Backgrounds */

.navbar-bg-brown {
    background-color: var(--navbar-brown)
}

.bg-table-gray {
    background-color: var(--table-gray);
}

/* Buttons */

.button-login {
    background-color: var(--login-brown);
    border-style: none;
}

.button-login:hover {
    background-color: var(--shelf-orange);
}

.widget-entry {
    background-color: white;
    width: 70%;
    height: 50vh;
    max-height: 500px;
    min-height: 400px;
    box-shadow: 30px 30px var(--form-bg-brown);
}


/* Font Application */

.navbar-font {
    font-family: 'Inknut Antiqua', serif;
}

.font-inter {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.font-imfellfc {
    font-family: 'IM Fell French Canon', serif;
}

/* Font Styling */
.italic {
    font-style: italic;
}

/* Font Sizes */

.font-size-36 {
    font-size: 36pt;
}

/* Component Customs */
.ListEntry {
    margin-top: 7px;
    margin-bottom: 7px;
}
.ListEntry:hover {
    transition: 250ms;
    opacity: 0.8;
    background-color: var(--background-gray);
    margin-bottom: 15px;
}

.card-w-img {
    width: 10rem;
    height: 5rem;
    overflow: hidden;
}

@media (max-width: 600px){
    .NavBar {
        position: static;

    }

    .button-login {
        padding:5px 20px 5px 20px !important;
    }

    .navbar-mobile {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
    }
    
    h1 {
        justify-content: center;
        font-size: 20pt !important;
        text-align: center !important;
    }

    #donate-button{
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
        display: block;
        text-align: center;
    }

    .card-w-img {
        width: 80px;
        height: 5rem;
        overflow: hidden;
    }

    #navbar-logo {
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
    }

    main {
        padding: 0px !important;
    }

    .ViewList {
        padding: 0px 10px 0px 10px !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .font-inter {
        font-size: 12pt;
    }

    .entry-text {
        padding-left: 10px !important;
        padding-right: 10px !important;
        justify-content: center;
        font-size: 20pt !important;
        text-align: center !important;
    }

    .ListEntry {
        margin-bottom: 10px;
    }
    
    .ItemForm {
        padding-left: 10px;
        padding-right: 10px;
    }

    .EditItem {
        padding-top: 15px;
    }

    .EditItem h1 {
        padding-bottom: 10px;
    }
}