/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');

/* Custom Colors */

:root{
    --shelf-orange: #ffaf37;
    --navbar-brown: #5b4242;
    --login-brown: #C4B1AE;
    --submit-olive: #AEA893;
    --form-bg-brown: #CAB7A2;
}

.navbar-orange {
    color: var(--shelf-orange)
}


.text-white {
    color: white;
    background-color: none;
}

.navbar-bg-brown {
    background-color: var(--navbar-brown)
}

.navbar-font {
    font-family: 'Inknut Antiqua', serif;
}

/* Text Sizes */

